

:root{
    --dark: #16191c;
    --dark-x: #1e2126;
    --ligth: #fff;
    --blue: #3b83bd;
}
body{
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--ligth);
    justify-content: center;
    min-height: 100vh;
}
.bg-dark{
    background-color: var(--dark) !important;

}
.bg-blue{
    background-color: var(--blue);
}

.bg-dark-x{
    background-color: var(--dark-x);
}

.form-control , .btn{
    min-height: 3.125rem;
    line-height: initial;
}

.img-1{
    background-image: url('../img/abs.jpg');
    background-size: cover;
    background-position: center;
    border-radius:25px;
}
.img-2{
    background-image: url('../img/head2.jpg');
    background-size: cover;
    background-position: center;
    border-radius:25px;
}
.img-3{
    background-image: url('../img/head3.jpg');
    background-size: cover;
    background-position: center;
    border-radius:25px;
    

}
.user{
display: inline-flex;


}

.popular{
    background-color: var(--blue);
    text-decoration-color: var(--dark) !important;
}

.radius-card{
    border-radius:25px;
}
.radius{
    border-radius:10px;
}

.fondo{
    background-image: url('../img/head3.jpg');
}

.logo{
   
 position: relative;


    
}


.img-fluid {
    max-width: 100%;
    height: auto;
  }
  video.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }
  h5{
      color: #2c95d3;
  }
.img_user{
padding-top: 20px;
}

.navigation{
    position: relative;
    width: 400px;
    height: 70px;
    background-color: var(--dark-x);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navigation ul {
    display: flex;
    width: 350px;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color:var(--dark);
}
.navigation ul li.active a .icon{
    transform: translateY(-32px);
}
.navigation ul li a .text{
    position: absolute;
    color: var(--blue);
    font-weight: 400px;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;

    transform: translateY(20px);
}
.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);

}
.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--blue);
    border-radius: 50%;
    border: 6px solid var(--ligth);
    transition: 00.5s;

}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--ligth);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22.5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--ligth);
}
.opacidad{
    opacity: 85%;
}

.menu{
   
  
    opacity: 85%;

}
.navigation ul li:nth-child(1).active ~ .indicator{
 
        transform: translateX(calc(70px* 0)) ;
}

.navigation ul li:nth-child(2).active ~ .indicator{
 
    transform: translateX(calc(70px* 1)) ;
}
.navigation ul li:nth-child(3).active ~ .indicator{
 
    transform: translateX(calc(70px* 2)) ;
}
.navigation ul li:nth-child(4).active ~ .indicator{
 
    transform: translateX(calc(70px* 3)) ;
}
.navigation ul li:nth-child(5).active ~ .indicator{
 
    transform: translateX(calc(70px* 4)) ;
}


@media screen and (max-width: 720px) {
    .menu{
        padding-top: 200px;
    
    }
}
    @media screen and (max-width: 1336px) {
        .menu{
            padding-top: 100px;
        
        }
   
    }
    @media (max-width: 1336) {
        p {
          font-size: 6px;
        }
      }